code.inline-code {
  white-space: pre;
  font-size: 1em;
  background-color: var(--color-gray-darker);
  padding: 2px 5px;
  border-radius: 4px;
}
code.inline-code.inline-code--same-font {
  font-family: inherit !important;
}
pre.code-block {
  white-space: pre-wrap;
  background-color: var(--color-gray);
  border-radius: 3px;
  padding: 16px;
}
